{% extends 'base_2.html' %}
{% load static %}
{% load rest_framework %}
{% load template_extra %}


{% block title %}
Bootstrap News Template - Free HTML Templates
{% endblock title %}


{% block anime %}
<a href="{% url 'animes-detail' anime.id %}" class="nav-item nav-link active">{{anime.name}}</a>
{% endblock anime %}


{% block content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                {% comment %} <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li> {% endcomment %}
                <li class="breadcrumb-item"><a href="{% url 'animes-list' %}">Animes</a></li>
                <li class="breadcrumb-item active">{{anime.name}}</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Single News Start-->
    <div class="single-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="sn-container">
                        <div class="sn-img">
                            <img src={{anime.image_url}} />
                        </div>
                        <div class="sn-content">
                            <h1 class="sn-title">{{anime.name}}</h1>
                            <h3>MyAnimeList Score: {{anime.myanimelist_score}}</h3>
                            <h3>Released Date: {{anime.released_date}}</h3>
                            <p>
                                {{anime.summery}}
                            </p>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style='display: inline-block;'>Add List</a>
                                
                                <div class="dropdown-menu" style='width: 300px;'>
                                    {% for list in lists %}
                                        <div class='tags' style='display: flex; padding: 0.5rem;'>
                                            <a class="dropdown-item-2" href="{% url 'listanimes-detail' list.id %}">{{list.name}}</a>
                                            {% with flag='True' %}
                                                {% for item in list.items %}
                                                    {% if anime.id == item.anime.id %}
                                                        <form class="button-form" action="{% url 'list-items-detail' list.id item.id %}" data-method="DELETE">
                                                            <button class="btn btn-danger">Remove</button>
                                                        </form>
                                                        {% update_variable 'False' as flag %}
                                                    {% endif %}
                                                    {% if flag == 'True' and item == list.items|last %}
                                                        <form class='form-add-list' action="{% url 'list-items-list' list.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                                            {% csrf_token %}
                                                            <input name="anime_id" type="hidden" value="{{anime.id}}">
                                                            <button class="btn btn-primary js-tooltip">Add</button>
                                                        </form>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                            {% if not list.items %}
                                                <form action="{% url 'list-items-list' list.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                                    {% csrf_token %}
                                                    <input name="anime_id" type="hidden" value="{{anime.id}}">
                                                    <button class="btn btn-primary js-tooltip">Add</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        {% comment %} {% if serializer_item %}
                                            <form action="{% url 'list-items-list' list.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                                <fieldset>
                                                {% csrf_token %}
                                                {% render_form serializer_item %}
                                                <input name="anime_id" class="form-control" type="hidden" value="{{anime.id}}">
                                                <div class="form-actions">
                                                    <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                                                </div>
                                                </fieldset>
                                            </form>
                                        {% endif %} {% endcomment %}
                                    {% endfor %}
                                    
                                    <a href="{% url 'listanimes-list' %}" class="dropdown-item">Create List</a>
                                </div>
                            </div>
                            <p></p>
                            {% if anime.comments %}
                                <h4>Comments</h4>
                                <ul>
                                    {% for comment in anime.comments %}
                                        <li>
                                            {{comment.username}}:<br>
                                            {{comment.content}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% if serializer %}
                                    <form action="{% url 'anime-comments-list' anime.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                        <fieldset>
                                        {% csrf_token %}
                                        {% render_form serializer %}
                                        <div class="form-actions">
                                            <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                                        </div>
                                        </fieldset>
                                    </form>
                                {% endif %}
                                {% comment %} <a href="{% url 'anime-comments-list' anime.id %}">Add Comment</a> {% endcomment %}
                            {% endif %}
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2 class="sw-title">In This Category</h2>
                            <div class="news-list">
                                <div class="nl-item">
                                    <div class="nl-img">
                                        <img src="{% static 'anime/img/news-350x223-1.jpg' %}" />
                                    </div>
                                    <div class="nl-title">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    </div>
                                </div>
                                <div class="nl-item">
                                    <div class="nl-img">
                                        <img src="{% static 'anime/img/news-350x223-2.jpg' %}" />
                                    </div>
                                    <div class="nl-title">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    </div>
                                </div>
                                <div class="nl-item">
                                    <div class="nl-img">
                                        <img src="{% static 'anime/img/news-350x223-3.jpg' %}" />
                                    </div>
                                    <div class="nl-title">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% comment %} <div class="sidebar-widget">
                            <div class="image">
                                <a href="https://htmlcodex.com"><img src="{% static 'anime/img/ads-2.jpg' %}" alt="Image"></a>
                            </div>
                        </div> {% endcomment %}
                        
                        <div class="sidebar-widget">
                            <div class="tab-news">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="featured" class="container tab-pane active">
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-1.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-2.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-3.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-4.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-5.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="popular" class="container tab-pane fade">
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-4.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-3.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-2.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-1.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-2.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="latest" class="container tab-pane fade">
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-3.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-4.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-5.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-4.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{% static 'anime/img/news-350x223-3.jpg' %}" />
                                            </div>
                                            <div class="tn-title">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <h2 class="sw-title">News Category</h2>
                            <div class="category">
                                <ul>
                                    <li><a href="">National</a><span>(98)</span></li>
                                    <li><a href="">International</a><span>(87)</span></li>
                                    <li><a href="">Economics</a><span>(76)</span></li>
                                    <li><a href="">Politics</a><span>(65)</span></li>
                                    <li><a href="">Lifestyle</a><span>(54)</span></li>
                                    <li><a href="">Technology</a><span>(43)</span></li>
                                    <li><a href="">Trades</a><span>(32)</span></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="sidebar-widget">
                            <h2 class="sw-title">Tags Cloud</h2>
                            <div class="tags">
                                <a href="">National</a>
                                <a href="">International</a>
                                <a href="">Economics</a>
                                <a href="">Politics</a>
                                <a href="">Lifestyle</a>
                                <a href="">Technology</a>
                                <a href="">Trades</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single News End--> 
{% endblock content %}
