{% extends 'base_2.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <h1>Login account</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% if user.is_authenticated %}
        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
        {% else %}
            <a class="dropdown-item" href="{% url 'password_reset' %}">Forget Password</a>
        {% endif %}
        <button type="submit">Login</button>
    </form>
{% endblock content %}